<div class='container'>
	<ul class='list-inline'>
	  <li><h4>Title</h4></li>
	  <li>
	    <%= form_for @test, :html => {:class => "form-inline"} do |t| %>
	      <%= t.text_field :title, class:'form-control' %>
	      <%= t.submit "Save title", class: 'btn btn-default' %>
	    <% end %>
      </li>
	  <li><h4>Share Code</h4></li>
      <li><strong><%= @test.sharecode %></strong></li>
	</ul>
	<ul class='list-inline'>
	  <li><%= link_to 'New Questions', new_test_question_path(@test), class: 'btn btn-success' %></li>
	</ul>
	<table class='table'>
		<% @questions.each do |q| %>
		  <tr><td>
			<pre><%= q.prob %></pre>
			<%= image_tag q.attachment %>
			<pre><%= q.ans %></pre>
			<pre><%= q.explain %></pre>
			<ul class='list-inline'>
				<li><%=link_to 'Edit', edit_test_question_path(@test,q), class: 'btn btn-primary' %></li>
				<li>[<%=link_to 'Delete', test_question_path(@test,q),method: :delete %>]</li>
			</ul>
		  </td></tr>
		<% end %>
	</table>
</div>
