<div class='container'>
	<ul class='list-inline'>
	  <li><h4>標題</h4></li>
	  <li>
	    <%= form_for @test, :html => {:class => "form-inline"} do |t| %>
	      <%= t.text_field :title, class:'form-control' %>
	      <%= t.submit "儲存標題", class: 'btn btn-default' %>
	    <% end %>
      </li>
	  <li><h4>分享代碼</h4></li>
      <li><strong><%= @test.sharecode %></strong></li>
	</ul>
	<ul class='list-inline'>
	  <li><%= link_to '建立試題', new_test_question_path(@test), class: 'btn btn-success' %></li>
	</ul>
	<table class='table'>
		<% @questions.each_with_index do |q, index| %>
		  <tr><td>
			<p><%= index+1 %></p>
			<pre><%= q.prob %></pre>
			<%= image_tag q.attachment1 %>
			<pre><%= q.ans %></pre>
			<pre><%= q.explain %></pre>
			<%= image_tag q.attachment2 %>
			<div class='form-group'></div>
			<ul class='list-inline'>
				<li><%=link_to '編輯', edit_test_question_path(@test,q), class: 'btn btn-primary' %></li>
				<li>[<%=link_to '刪除', test_question_path(@test,q),method: :delete, data: {confirm: "確定要刪除嗎"} %>]</li>
			</ul>
		  </td></tr>
		<% end %>
	</table>
</div>
